html{
    background: #ff785a;
}

.spiderweb{
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
}

.spider{
    position: absolute;
    display: inline-block;
    top:0;
    left:30%;
    animation:swing 2s infinite;
    transform-origin:top;
}

.spider .body{
    width: 100px;
    height: 80px;
    background: #000;
    position:relative;
    border-radius: 50%;
}