html{
    background: #ff785a;
}

.spiderweb{
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
}

.spider{
    position: absolute;
    display: inline-block;
    top:0;
    left:30%;
    animation:swing 2s infinite;
    transform-origin:top;
}
/* corp de l'araignier */
.spider .body{
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}
/* yeux  blanc de l'araigniée */
.spider .body .eye{
    width: 33px;
    height: 33px;
    background: #fff;
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
}

.spider .eye.right{
    right: 15px;
}

.spider .eye.left{
    left: 15px;
}

/* yeux  noir de l'araigniée */
.spider .eye::after{
    background: rgb(17, 153, 19);
    width: 8px;
    height: 8px;
    content: "";
    display: block;
    margin: 55%;
    border-radius: 50%;
    animation: look 8s infinite;
}

.spider .legs{
    position: absolute;
    bottom:-10%;
    z-index: -1;
}

.spider .legs .leg{
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color:#000; /*  définit la couleur utilisée pour la bordure haute d'un élément. */
    border-radius: 40px 40px 0 0;
}

/* pattes de l'araigniée mise en forme */
.spider .legs.left{
    left:-70%;
}

.spider .legs.right{
    right:-60%;
}

.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}

.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}
